body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #333333bb ;
    
  }

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }

  .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
  }

  .navbar-nav .nav-link:hover {
    color: #ffd700;
  }

  .header {
    background-color:0;
    padding: 20px 0;
  }

  .greeting {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }

  .date-time {
    font-size: 20px;
    color: #ffffff;
  }

  .carousel-item img {
    border-radius: 10px;
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card img {
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
  }

  /* CSS for Card Image */
.card-img-top {
    max-height: 200px; /* Set the maximum height of the image */
    object-fit: cover; /* Ensure the image covers the entire area of the card */
}

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }

  .carousel-item img {
    border-radius: 15px; /* Membuat sudut tumpul */
    max-height: 400px; /* Atur tinggi maksimum gambar */
    object-fit: cover; /* Atur agar gambar mengisi kotak tanpa mempertahankan aspek rasio */
}

.carousel-item {
    max-height: 400px; /* Atur tinggi maksimum carousel */
}

.carousel-inner {
    overflow: hidden; /* Atur agar gambar yang melebihi kotak terpotong */
}
  